<main class="container-main">
    <h1>Bolo Naked de Chocolate</h1>
    <div class="info-uteis">
        <div class="item">
            <div class="div_icon">
                <img src="assets/img/icon_time.svg">
            </div>
            <div class="text">
                <p>Tempo de preparo</p>
                <p>1h30</p>
            </div>
        </div>
        <div class="item">
            <div class="div_icon">
                <img src="assets/img/icon_time.svg">
            </div>
            <div class="text">
                <p>Rendimento</p>
                <p>10 Porções</p>
            </div>
        </div>
        <div class="item">
            <div class="div_icon">
                <img src="assets/img/icon_time.svg">
            </div>
            <div class="text">
                <p>Avaliação</p>
                <p>5</p>
            </div>
        </div>
    </div>
</main>